.socials__container a{
    color: black;
    font-weight: 500;
}


.socials__container a:hover{
    text-decoration: none !important;
}

.socials__container {
    background-color: #DEDEDE;
}

.socials__container img {
    width: 50px;
    margin: 1rem 0; }

    @media (max-width: 468px) {
        .skills img {
            padding: 0.75rem;
        }
        
    }
