.btn--primary, 
.btn--secondary,
.albmissing {
    width: 8.5625rem;
    padding: 1rem 1.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.3125rem;
    background: #181E4B; 
    color: white;
    border: 0;
    font-weight: 700;
}



.btn--primary--xl {
    width: 100%;
    padding: 0.75rem 0.5rem;
    border-radius: 0;
    font-weight: 600;
    font-size: 20px;
}



.btn--link {
    color: var(--primary-text-color);
    font-weight: 600;
}